<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-5">
                    <div class="content">
                        <h1 class="display-1 text-center">Criar conta ou Entrar</h1>
                        <p class="text-center lead">Experimente a melhor maneira de salvar seus contatos</p>
                    </div>

                    <%- include('includes/messages'); %>

                        <div class="row center">

                            <div class="col-lg">
                                <h4>Faca seu cadastro</h4>

                                <form class="cadastro" action="/login/register" method="POST">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                                    <div class="mb-3">
                                        <label class="form-label my-2">Endereco de email</label>
                                        <input type="email" class="form-control" name="email">
                                        <div class="form-text aviso-cadastro">Nunca compartilhe seu email.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Senha</label>
                                        <input type="password" class="form-control" name="password">
                                        <div class="form-text aviso-cadastro-pass">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Criar conta</button>
                                </form>

                            </div>



                            <div class="col-lg tes">
                                <h4>Entre na sua conta</h4>
                                <form class="login" action="/login/entry" method="POST">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                                    <div class="mb-3">
                                        <label class="form-label my-2">Endereco de email</label>
                                        <input type="email" class="form-control" name="email">
                                        <div class="form-text aviso-login">Nunca compartilhe seu email.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Senha</label>
                                        <input type="password" class="form-control" name="password">
                                        <div class="form-text aviso-login-pass"></div>

                                    </div>

                                    <button type="submit" class="btn btn-primary">Entrar</button>
                                </form>
                            </div>
                        </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>

        <%- include('includes/footer') %>